@import url("./App.css");

.windowcontrol {
  width: 100%;
  height: 35px;
  -webkit-app-region: drag;
  user-select: none;
  background: transparent;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.windowcontrol button {
  -webkit-app-region: no-drag;
  cursor: pointer;
  background-color: transparent;
  color: var(--primary-200);
  outline: 0;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.windowcontrol button:hover {
  color: var(--primary-300);
  background-color: var(--background-900);
}

.windowcontrol img {
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
}

.windowcontrol div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

.windowcontrol h4 {
  color: var(--primary-200);
  margin-left: -40px;
}
